/* footer {
    background-color: rgb(49, 45, 45);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0px;
} */

.navbar {
    background-color: rgb(49, 45, 45);
    overflow: hidden;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    right: 0px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    float: right;
    margin: 10px;
    position: relative;
    top: -11px;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    top: -68px;
    transition: all 0.5s ease-in-out;
    margin-right: 15px;
}

.navbar ul li a:hover {
    letter-spacing: 4px;
    background-color: white;
    color: rgb(58, 124, 223);
    transform: scaleX(1.3);
}

.navbar ul li a:active {
    box-shadow: 1px 1px 50px 5px rgb(255, 255, 255);
    transition: .00000001s;
}

.navbar h1 {
    color: #fff;
    position: relative;
    top: 0px;
    left: 25px;
    font-size: 30px;
}

.hed {
    position: fixed;
    text-align: center;
    font-size: 40px;
    z-index: 200;
    top: 8px;
    left: 800px;
    color: #fff;
    font-weight: 800;
}

span {
    z-index: 11;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    padding: 20px;
}

footer {
    background: rgb(49, 45, 45);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
}

footer::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: #fff;
    left: 0;
    top: 110px;
}

footer .content {
    margin: auto;
    padding: 30px 40px 40px;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

footer .content .logo-details {
    color: #fff;
    font-size: 35px;
    display: flex;
    position: relative;
    top: -10px;
}

footer .content .logo-details .logo_name {
    position: relative;
    left: 10px;
    top: 8px;
}

footer .content .media-icons {
    display: flex;
    z-index: 100;
}

footer .content .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
    z-index: 100;
}

footer .content .media-icons a:nth-child(1) {
    background-image: url(face.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer .content .media-icons a:nth-child(1):hover {
    transform: scale(1.3);
}

footer .content .media-icons a:nth-child(2) {
    background-image: url(ins.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer .content .media-icons a:nth-child(2):hover {
    transform: scale(1.3);
}

footer .content .media-icons a:nth-child(3) {
    background-image: url(tick.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer .content .media-icons a:nth-child(3):hover {
    transform: scale(1.3);
}

footer .content .media-icons a:nth-child(4) {
    background-image: url(you.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer .content .media-icons a:nth-child(4):hover {
    transform: scale(1.3);
}

footer .content .media-icons a:nth-child(5) {
    background-image: url(lin.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer .content .media-icons a:nth-child(5):hover {
    transform: scale(1.3);
}

footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
}

footer .content .link-boxes .box .link-name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

footer .content .link-boxes .box .link-name::before {
    content: "";
    position: absolute;
    background: #fff;
    height: 2px;
    width: 35px;
    bottom: -2px;
    left: 150px;
}

footer .content .link-boxes .box li {
    list-style: none;
    text-decoration: none;
    margin: 6px 0;
}

footer .content .link-boxes .box li a {
    list-style: none;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    opacity: .8;
    transition: all .4s ease;
}

footer .content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
}

footer .content .link-boxes .input-box {
    margin-right: 55px;
}

footer .content .link-boxes .input-box input {
    height: 40px;
    width: 100%;
    outline: none;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 5px;
    padding: 0 15px;
    transition: 0.4s ease;
    margin-top: 5px;
    color: #fff;
}

footer .content .link-boxes .input-box input::placeholder {
    color: #fff;
    font-size: 16px;
}

footer .content .link-boxes .input-box input[type="button"] {
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: .8;
    transition: all .4s ease;
    cursor: pointer;
    width: 100%;
}

footer .content .link-boxes .input-box input[type="button"]:hover {
    opacity: 1;
}

footer .bottom-details .bottom-text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 100px;
}

footer .bottom-details .bottom-text span,
footer .bottom-details .bottom-text a {
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}

footer .bottom-details .bottom-text a:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    footer .content .link-boxes {
        flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box {
        width: 48%;
    }
}

@media (max-width: 520px) {
    footer::before {
        top: 145px;
    }
    footer .content {
        flex-direction: column;
    }
    footer .content .top {
        margin-top: 16px;
    }
    footer .content .link-boxes .input-box {
        width: 100%;
    }
}